<div id="user-data">

    <div class="line">Имя: <div class="value">Иван</div></div>
    <div class="line">Фамилия: <div class="value">Иванов</div></div>
    <div class="line">Дата рождения: <div class="value">01.01.1990</div></div>
    <div class="line">Пол: <div class="value">Мужской</div></div>
    <div class="line">Адрес: <div class="value">ул. Примерная, 123</div></div>
    <div class="line">Город: <div class="value">Примероград</div></div>
    <div class="line">Email: <a href="mailto:ivanov@example.com">ivanov@example.com</a></div>
    <div class="line">Телефон: <a href="tel:+380664567890">+380 66 456-78-90</a></div>

    <div class="btns">
        <button hx-trigger="click" hx-get="/user/profile_main_user_data_form/" hx-target="#user-data" hx-swap="outerHTML">Изменить</button>
    </div>
</div>