<div id="user-data">
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <div class="line">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName" value="{{ request.user.first_name }}">
        </div>
        <div class="line">
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName" value="{{ request.user.last_name }}">
        </div>
        <div class="line">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{ request.user.email }}">
        </div>
        <div class="line">
            <label for="phone">Телефон:</label>
            <input type="text" id="phone" name="phone" value="{{ request.user.phone }}">
        </div>


        <div class="btns">
            <button type="submit">Сохранить</button>
            <button hx-trigger="click" hx-get="{% url 'profile_main_user_data' %}" hx-target="#user-data" hx-swap="outerHTML">Отмена</button>
        </div>
    </form>
</div>