{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="contacts">
        <div class="data">
            <div class="text">
                <h1 class="caption">Наш адрес</h1>
                <div class="address">
                    <div>Киевская обл., Вышгородский р-н</div>
                    <div>с. Федоровка</div>
                    <div>Приют для бездомных животных "Сириус"</div>
                </div>
            </div>
            <div class="media">
                <img src="{% static 'imgs/cat.png' %}" alt="">
            </div>
        </div>
        <a class="geo" target="_blank" href="https://www.google.com/maps/dir/?api=1&destination=50.87842508968469, 30.268059228922453">Открыть в приложении карты</a>
        <iframe src="https://snazzymaps.com/embed/441089" style="border: 1px #bbe2c6 solid;" class="map"></iframe>
    </div>

{% endblock %}