{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="welcome-page">
        <div class="row">
            <div class="text">
                <span>Здесь можно найти четвероногого друга.</span>
                <br>
                <span style="font-size: 20px;">
                    В приюте найдутся друзья любому по душе - большие, маленькие,
                    охранники,компаньоны, ленивцы и непоседы.</span>
            </div>
            <div class="media">
                <img src="https://dogcat.com.ua/fmc/orig/e779/d723/6dd0/marq-img-14.webp" alt="">
            </div>
        </div>
    </div>

    <div id='donation' class="donation">
        <img src="{% static 'imgs/animals-decor.webp' %}" alt="" class="animal-round" width="100%" style="z-index: -1">

        <div class="donation-form">
            <a href="https://send.monobank.ua/jar/44svFkWHag">
                <img src="{% static 'imgs/monobank-cat.png' %}" alt="" class="monobank-cat">
                <div class="caption">
                    <span>Пожертвовать с помощью</span>
                    <span>MonoBank</span>
                    <img src="{% static 'imgs/monobank-qr.png' %}" alt="" width="50%" style="z-index: -1">
                </div>
            </a>
        </div>
    </div>
{% endblock %}