{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="blog-welcome">
        <div class="caption">Что нового в приюте?</div>
        <div class="media">
             <img src="{% static 'imgs/blog-cat.png' %}" alt="">
        </div>
    </div>

    <div class="btns" style="justify-content: center; margin-top: 20px;">
        {% if is_tag %}<a href="{% url 'blog_index' %}" class="btn">Смотреть все записи</a>{% endif %}

        {% for tag in tags %}
            <a href="{% url 'blog_index' %}?tag={{ tag.name|urlencode }}" class="btn">{{ tag.name }}</a>
        {% endfor %}
    </div>

    <div class="feed">

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>

        {% endif %}

        {% for post in posts %}
            <div class="post">
                <div class="data">
                    <div class="tag"><a href="{% url 'blog_index' %}?tag={{ post.tag.name|urlencode }}">#{{ post.tag.name }}</a></div>
                </div>
                <div class="title">{{ post.title }}</div>
                <div class="text">{{ post.text }}</div>
            </div>
        {% endfor %}

    </div>
{% endblock %}