html {
    display: flex;
    /* justify-content: center; */
    --main-color: black;
}
body {
    background-color: whitesmoke;
    width: 100%;
    min-height: 100svh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    text-align: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(255 165 0 / 97%);
}
header .left {
    display: flex;
    text-decoration: none;
    color: var(--main-color)
}
header .left .title{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px;
    font-family: 'Brush Script MT', cursive;
}
header .left .title .top{
    font-size: 11px;
}
header .left .title .bottom{
    font-size: 26px;
    font-weight: bold;
}
header .left .logo {
    height: 50px;
}
.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btns a,
header .right .profile {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    border: 2px #979797 solid;
    border-radius: 15px;
    padding: 3px 10px;
    background-color: transparent;
    color: var(--main-color);
    cursor: default;
    margin: 0 10px;

}
.btns a:hover,
header .right .profile:hover {
    border: 2px transparent solid;
    background-color: #8d95ff;
    color: #241ea9;
}
.content {
    margin: 0 auto;
}
.welcome-page {
    width: 100%;
    height: 90svh;
    background-color: orange;
    font-size: 40px;
    font-family: Caveat, cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 40px 40px;
}
.welcome-page .row {
    display: flex;
    justify-content: space-around;
    max-height: 100%;
}
.welcome-page .row .text{
    font-size: 80px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.welcome-page .row .media{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.welcome-page .row .media img{
    width: 80%;
    height: auto;
    border-radius: 35px 15px;
}
.donation {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    max-height: 100svh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.donation .animal-round {
    /* margin-top: 50px; */
    width: 50%;
    animation: rotateCounterclockwise 60s linear infinite;
}
.donation .donation-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.donation .donation-form a{
    text-decoration: none;

}
.donation .donation-form .caption{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donation .donation-form .monobank-cat{
    animation: monobank-cat-donations 4s linear infinite;
}
footer {
    border-radius: 40px 40px 0 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
footer .data{

}
.contacts {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.contacts .data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contacts .data .media {
    width: 30%;
}
.contacts .data .media img{
    margin-top: 40px;
    margin-bottom: -40px;
    width: 100%;
    height: auto;
}
.contacts .geo{
    font-size: 20px;
    margin: 5px 50px;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #00a32e;
}
.contacts .data .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contacts .data .text .caption{
    font-size: 48px;
    padding: 20px;
}
.contacts .data .text .address{
    font-size: 28px;
    padding: 30px;
    border-radius: 40px;
    background-color: orange;
}
.contacts .map {
    width: 100%;
    max-width: 100%;
    height: 500px;
    border-radius: 40px;
}
.auth-forms {
    width: 400px;
    margin: 0 auto;
}
.auth-forms form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.auth-forms form label,
.auth-forms form input{
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 18px;
}
.auth-forms form .line{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.auth-forms form .btns{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.auth-forms form .btns .btn{
    margin-top: 5px;
}
#user-data {
    border: 1px #c9c9c9 solid;
    border-radius: 20px;
    padding: 5px 20px;
    max-width: 421px;
    margin: 0px auto;
}
#user-data .line{
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    height: 24px;
}
#user-data .line .value,
#user-data .line a,
#user-data .line input{
    border: 1px #d7d7d7 solid;
    width: 70%;
    padding: 2px 10px;
    border-radius: 10px;
}
#user-data .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}
#user-data .btns button{
    max-width: 100%;
    border-radius: 20px;
    padding: 3px 15px;
}

.blog-welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    height: 50svh;
    background-color: orange;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    margin-top: -100px;
}
.blog-welcome .caption{
    font-size: 10svh;
    max-width: 30%;
    text-align: center;
    font-family: Caveat, cursive;
}
.blog-welcome .media{
    max-height: 80%;
}
.blog-welcome .media img{
    max-height: 100%;
}
.feed {
    width: min(100%, 500px);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feed .post {
    margin: 30px 0;
    font-size: 20px;
    border: 4px #a5a5a5aa solid;
    padding: 20px;
    border-radius: 30px
}
.feed .post .title{
    margin: 5px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: Caveat, cursive;
}
.animal-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    transition: 0.8s;
}

.animal-card:hover {
    border-radius: 20px;
    background-color: #8d95ff;
}
.animal-card img{
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    transition: 0.8s;
}
.animal-card:hover img{
    max-width: 100%;
    border-radius: 20px;
    transition: 0.2s;
}
.animal-card .data{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.animal-card .name{
    max-width: 100%;
    font-size: 26px;
    font-weight: bold;
    font-family: Caveat, cursive;

}
.btn {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    border: 2px #979797 solid;
    border-radius: 15px;
    padding: 3px 10px;
    background-color: transparent;
    color: var(--main-color);
    cursor: default;
}
.btn:hover{
    border: 2px transparent solid;
    background-color: #8d95ff;
    color: #241ea9;
}
.animal-detail {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forms_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.animal-detail img {
    max-width: 400px;
    border-radius: 0 0 30px 30px;
}
.animal-detail .name {
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
    font-family: Caveat, cursive;
}
.animal-detail .description{
    width: min(100%, 567px);
    margin: 20px 0;
    font-family: Caveat, cursive;
    font-size: 18px;
    padding-left: 25px;
}
.feedback-form,
.walk-form {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: min(100%, calc(360px));
    height: max-content;
    border: 6px #68686861 solid;
    border-radius: 20px;
    transition: 0.5s;
}

.feedback-form .title,
.walk-form .title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Caveat, cursive;

}
.feedback-form textarea{

resize:vertical;

min-height: 82px;

max-height: 400px;

height: 80px;
}

.feedback-form textarea,
.feedback-form input,
.feedback-form select,
.walk-form input,
.walk-form select{
    margin-bottom: 15px;
    font-size: 18px;
    border: 3px #68686861 solid;
    padding-left: 5px;
    transition: 0.5s;
}
.feedback-form:hover,
.walk-form:hover,
.feedback-form:hover textarea,
.feedback-form:hover input,
.feedback-form:hover select,
.walk-form:hover input,
.walk-form:hover select,
.feedback-form:hover button[type='submit'],
.walk-form:hover button[type='submit'] {
    border-color: orange;
}
.feedback-form label,
.walk-form label {
    font-size: 20px;
    padding-left: 5px;
}
.feedback-form button[type='submit'],
.walk-form button[type='submit'] {
    font-size: 22px;
    font-weight: bold;
    font-family: Caveat, cursive;
    border: 4px #68686861 solid;
    border-radius: 0 0 5px 5px;
    transition: 0.5s;
    padding: 10px 0;
}

.feedback-form button[type='submit']:hover,
.walk-form button[type='submit']:hover {
    background-color: #8d95ff30;
}

label.row {
    display: flex;
    justify-content: space-between;
}



.feedbacks {
    width: min(100%, 600px);
    margin: 50px 0;
}
.feedbacks .feedback {
    padding: 30px;
    background-color: #e1e1e1;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: 0.5s;
    border: 6px transparent solid;
}
.feedbacks .feedback:hover {
    border-color: orange;
}
.feedbacks .feedback .title {
    font-size: 22px;
    font-weight: bold;
    font-family: Caveat, cursive;
    text-align: center;
}
.feedbacks .feedback .text {
    font-size: 20px;
}
.feedbacks .feedback .user{
    transition: 0.5s;
    border-radius: 5px;
    padding: 2px 0;
    weight: fit-content;
}
.feedbacks .feedback:hover .user{
    padding-left: 20px;
    background-color: #ffa500cc;
}

hr{
    height: 2px;
    width: 100%;
}
.walk_times .future_walks {
    display: flex;
    flex-direction:column;
    .walk .time_data{
        font-size: 20px;

        .date {

            display: flex;
            justify-content: space-between;
        }
        .times {
            list-style: none;
            padding: 0 0 0 15px;
            margin: 0;
        }
        .times li{
            display: flex;
            justify-content: space-between;

        }
    }
    .walk .value {
        transition: 0.2s;
        font-weight: 600;
    }
    .walk:hover .value {
        color: orange;
        font-weight: 900;
    }
}




@keyframes rotateCounterclockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
@keyframes monobank-cat-donations {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}