<div id="user-data">

    <div class="line">Имя: <div class="value">{{ request.user.first_name }}</div></div>
    <div class="line">Фамилия: <div class="value">{{ request.user.last_name }}</div></div>
    <div class="line">Email: <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a></div>
    <div class="line">Телефон: <a href="tel:{{ request.user.phone }}">{{ request.user.phone }}</a></div>

    <div class="btns">
        <button hx-trigger="click" hx-get="{% url 'profile_main_user_data_form' %}" hx-target="#user-data" hx-swap="outerHTML">Изменить</button>
    </div>
</div>