<div class="feedbacks">

    {% for feedback in feedbacks %}
        <div class="feedback">
            <div class="title">{{ feedback.title }}</div>
            <div class="text">{{ feedback.text|linebreaks }}</div>
            <div class="animal"><a href="{% url 'animal_detail' animal_id=feedback.animal.id %}">{{ feedback.animal.name }} ({{ feedback.animal.breed }})</a></div>
            <div class="user">Автор: {{ feedback.user.first_name }} {{ feedback.user.last_name }}</div>
        </div>
    {% endfor %}

</div>



