


<form method="post" class="walk-form" hx-post="/animal/get_walk_form/" hx-swap="outerHTML" hx-trigger="change">
    <div class="title">Прогулка</div>
    {% csrf_token %}

    <label for="date">{{ walk_form.date.label }}</label>
    {{ walk_form.date }}

    <label for="duration">{{ walk_form.duration.label }}</label>
    {{ walk_form.duration }}

    <label for="start_in" class="row">{{ walk_form.start_in.label|safe }}</label>
    {{ walk_form.start_in }}

    <button type="submit">Запланировать</button>
</form>